.single-service-area .course-icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 77px;
    flex: 0 0 77px;
    min-width: 77px;
    width: 77px;
    height: 77px;
    background-color: #f98c00;
    color: #ffffff;
    border-radius: 50%;
    margin-right: 20px;
}

img {
    height: auto;
    max-width: 100%;
}