<div class="container">
    <div class="site-section">
            <div class="container">
            <div class="row">
            <div class="col-lg-6">
            <p class="mb-5"><img src="../../../../assets/images/training/img_1.jpg" alt="Image" class="img-fluid rounded img-redonda"></p>
            </div>
            <div class="col-lg-5 ml-auto">
            <h2 class="site-section-heading mb-3">Body Building</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ad, tempora incidunt accusantium. Similique magni quaerat beatae illo aliquid. Libero non ipsa nisi, corporis architecto incidunt rem repellendus asperiores numquam!</p>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit explicabo odio officiis autem minima quibusdam.</p>
            <div class="trainers-small mb-5 d-flex">
            </div>
            <p><a [routerLink]="['personal-training/', 'trx','booking']" class="btn btn-outline-primary py-2 px-4">Book Now</a></p>
            </div>
            </div>
            </div>
    </div>

    <div class="site-section border-top">
            <div class="container">
            <div class="row">
            <div class="col-lg-5 order-1 order-lg-2">
            <p class="mb-5"><img src="../../../../assets/images/training/img_2.jpg" alt="Image" class="img-fluid rounded img-redonda"></p>
            </div>
            <div class="col-lg-5  order-2 order-lg-1">
            <h2 class="site-section-heading mb-3">Boxing</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ad, tempora incidunt accusantium. Similique magni quaerat beatae illo aliquid. Libero non ipsa nisi, corporis architecto incidunt rem repellendus asperiores numquam!</p>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit explicabo odio officiis autem minima quibusdam.</p>
            <div class="trainers-small mb-5 d-flex">
            </div>
            <p><a href="#" class="btn btn-outline-primary py-2 px-4">Book Now</a></p>
            </div>
            </div>
            </div>
    </div>

    <div class="site-section border-top ">
            <div class="container">
            <div class="row">
            <div class="col-lg-5 ">
            <p class="mb-5"><img src="../../../../assets/images/training/img_3.jpg" alt="Image" class="img-fluid rounded img-redonda"></p>
            </div>
            <div class="col-lg-5 ">
            <h2 class="site-section-heading mb-3">Weight Lifting</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim ad, tempora incidunt accusantium. Similique magni quaerat beatae illo aliquid. Libero non ipsa nisi, corporis architecto incidunt rem repellendus asperiores numquam!</p>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit explicabo odio officiis autem minima quibusdam.</p>
            <div class="trainers-small mb-5 d-flex">
            <!--div><img src="images/person_1.jpg" alt="Image" class="rounded-circle trainer first" data-toggle="tooltip" data-placement="top" title="" data-original-title="Craig David"></div>
            <div><img src="images/person_2.jpg" alt="Image" class="rounded-circle trainer" data-toggle="tooltip" data-placement="top" title="" data-original-title="James Creen"></div>
            <div><img src="images/person_3.jpg" alt="Image" class="rounded-circle trainer" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ben Smith"></div-->
            </div>
            <p><a href="#" class="btn btn-outline-primary py-2 px-4">Book Now</a></p>
            </div>
            </div>
            </div>
    </div>

</div>
