<div class="card m-3" style="width: 70%;">
    <h5 class="card-header" style="text-align: center;">Apointment  Schedule</h5>
    <div class="card-body" style="display: flex;
    background-color: #f7f7f7;
    justify-content: space-around;">
        <ngb-datepicker class="ngb-datepicke-color" #dp (select)="onDateSelection($event)"
        [displayMonths]="1"
        [dayTemplate]="t"
        outsideDays="hidden"
        style="width: 35%;padding: 1%; margin-left: 20px;margin-bottom: 20px; ">
        </ngb-datepicker>

        <ng-template #t let-date let-focused="focused">
        <span class="custom-day"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null">
          {{ date.day }}
        </span>
        </ng-template>

        <div class="ngx-timepicker-field-example" style="margin-left: 20px;padding: 1%;height: 60px;">
            <ngx-timepicker-field
            [defaultTime]="'08:00 am'"
            [disabled]="!toDate"
            [(ngModel)]="choosenTime"
            (ngModelChange)="timeChanged()"></ngx-timepicker-field>
        </div>
    </div>
</div>



<!--hr-->



