<div class="container card__collection clear-fix" style="display: flex; justify-content: center;">
        <div class="cards cards--two">
            <img src="../../../../assets/images/programs/image1.jpeg" class="img-responsive" alt="Cards Image" height="500px">
            <span class="cards--two__rect"></span>
            <span class="cards--two__tri"></span>
            <p>
                <span style="display: block; color: black;">Holistic Nutrition</span>
                <a [routerLink]="['/nutrition-program']"><span>Click Here</span></a>
            </p>
            
        </div>

        <div class="cards cards--two">
                <img src="../../../../assets/images/programs/image-1.jpeg" class="img-responsive" alt="Cards Image" height="500px">
                <span class="cards--two__rect"></span>
                <span class="cards--two__tri"></span>
                <p>
                        <span style="display: block; color: black;">Fitness</span>
                        <a [routerLink]="['/fitness']" role="button"><span>Click Here</span></a>
                </p>
                
         </div>

        <!--div class="cards cards--three">
                <img src="../../../../assets/images/programs/image1.jpeg" class="img-responsive" alt="">
                <span class="cards--three__rect-1">
                    <span class="shadow-1"></span>
                    <p class="row">
                            <span style="color: black;">Fitness</span>
                            <a [routerLink]="['training-program']" role="button"><span>Join Now</span></a>
                    </p>
                </span>
                <span class="cards--three__rect-2">
                    <span class="shadow-2"></span>
                </span>
                <span class="cards--three__circle"></span>
                <ul class="cards--three__list">
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-linkedin-in"></i></li>
                </ul>
        </div-->
                
        <div class="cards cards--two">
                <img src="../../../../assets/images/programs/image0.jpeg" class="img-responsive" alt="Cards Image">
                <span class="cards--two__rect"></span>
                <span class="cards--two__tri"></span>
                <p>
                        <span style="display: block; color: black;">Dance</span>
                        <a [routerLink]="['/dance']" role="button"><span>Click Here</span></a>
                </p>
                
        </div>
</div>