<div class="about">
        <div class="about_container">
            <div class="row">
                <div class="col-lg-12 col-xs-12 col-md-8">
                    <div class="about_content">
                        <div class="section_title_container">
                            <div class="section_subtitle">
                                welcome to sportfit
                            </div>
                            <div class="section_title">
                                About 
                                <span>Naduska</span>
                            </div>
                        </div>
                        <div class="text_highlight">
                            Especialista en Nuticion Integral,Calificacion en TRX, Entrenadora Personal, Bailarina Profesional y Especializacion en Perdida de Peso y en Ejercicios Correctivos .
                        </div>
                        <div class="about_text">
                            <p>Nacida en la cuidad de Quebec en Canadá.  Mi vida siempre ha estado influenciada por el deporte, música, baile y el tronar de los tambores.
                                    He participado en una variedad de festivales internacionales, teatros, escuelas y televisión.Poseo especializacion en ejercicio correctivo y perdida de peso otrogado por la  National Academy of Sports and Medicine (NASM).
                                    Graduada de Health Coach de Nutricion Integral en el Institute for Integrative Nutrition (IIN).
                                    Para mi ‘’El equilibrio es la clave para triunfar” y “La salud es riqueza“.
                            </p>
                        </div>
                        <div class="button about_button">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about_image">
            <img src="../../../../assets/images/aboutMe.JPG" alt="">
        </div>
        
</div>