<div class="about" style="justify-content: center;">
        <div class="about_container" style="max-width: 675px;">
            <div class="row">
                <div class="col-lg-10 col-xs-10 col-md-10">
                    <div class="about_content" >
                        <div class="section_title_container">
                            <div class="section_subtitle">
                              {{'about.header' | translate}}
                            </div>
                            <div class="section_title">
                              {{'about.title-first' | translate}}
                                <span>{{'about.title-name' | translate}}</span>
                            </div>
                        </div>
                        <div class="text_highlight">
                          {{'about.subtitle' | translate}}
                        </div>
                        <div class="about_text">
                            <p> {{'about.resumen' | translate}} </p>
                        </div>
                        <div class="button about_button">
                            <a href="#">{{'about.readMore' | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about_image">
            <img src="../../../../assets/images/aboutMe22.jpg" alt="">
        </div>

</div>
