<div class="card m-3" style="
width: 800px;
padding: 4%;
">
<h5 class="card-header">Select your preferred Payment Method</h5>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Credit/Debit Card
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="card m-3" style="width: 90%;">
          <h5 class="card-header">Add your Personal Info</h5>
          <div class="card-body">
            <form [formGroup]="paymentTrainingForm" (ngSubmit)="onSubmit()" autocomplete="off" >
              <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle"></i>
                      </div>
                    </div>
                    <input type="text" placeholder="Card Owner Name" formControlName="userCardName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userCardName.errors }"  />
                    <div *ngIf="submitted && f.userCardName.errors" class="invalid-feedback">
                        <div *ngIf="f.userCardName.errors.required">First Name is required</div>
                    </div>
                  </div>
              </div>

              <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text bg-white">
                        <i class="far fa-credit-card"></i>
                      </div>
                    </div>
                    <input type="text" placeholder="Card Number" formControlName="cardNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cardNumber.errors }"  />
                    <div *ngIf="submitted && f.cardNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.cardNumber.errors.required">First Name is required</div>
                    </div>
                  </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-5">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                          <i class="fas fa-calendar-alt"></i>
                        </div>
                      </div>
                      <input type="text" placeholder="MM/YY" formControlName="cardExpirationDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cardExpirationDate.errors }"  />
                      <div *ngIf="submitted && f.cardExpirationDate.errors" class="invalid-feedback">
                          <div *ngIf="f.cardExpirationDate.errors.required">First Name is required</div>
                      </div>
                    </div>
                </div>

                <div class="form-group col-md-5">
                    <div class="input-group">
                      <div class="input-group-prepend">
                          <div class="input-group-text bg-white">
                            <i class="fas fa-key"></i>
                          </div>
                      </div>
                      <input type="password" placeholder="CVV" formControlName="cardCvv" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cardCvv.errors }"  />
                      <div *ngIf="submitted && f.cardCvv.errors" class="invalid-feedback">
                          <div *ngIf="f.cardCvv.errors.required">First Name is required</div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-success btn-lg btn-block" type="submit"><i class="fas fa-database"></i>Submit</button> 
              </div>
            </form>
          </div>
      </div>
      </mat-expansion-panel>


      <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            PayPal
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="card m-3" style="width: 70%;">
          <h5 class="card-header">Add your Personal Info</h5>
          <div class="card-body">
              Prueba
          </div>
          </div>
      </mat-expansion-panel>
    </mat-accordion>
</div>
