<header >
        <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #EEFF42;"><!--here was the class fixed-top-->
                  
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <!--div class="nav-item active">
                        <img src="../../../../assets/images/logos/logo.png" alt="">
                  </div-->
                  <div class="row collapse navbar-collapse" id="navbarNav">
                       
                        <ul class="navbar-nav row col-10 justify-content-center">
                            
                            <li class="nav-item active">
                                <a class="nav-link " [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                            
                            <li class="nav-item">
                                    <a class="nav-link" href="#">Login</a>
                            </li>
                            
                        </ul>
                
                <div class="row"> 
                            
                    <span class="nav-item">
                        <a class="nav-link" href="#"><i class="fab fa-facebook-square"></i></a>
                    </span>
                    <span class="nav-item">
                        <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
                    </span>
                    
                    <span class="nav-item">
                            <a class="nav-link" href="#"><i class="fab fa-youtube"></i></a>
                    </span>
                
                      
                </div>
                  </div>
                  
                </nav>
                <app-fitness-logo-name></app-fitness-logo-name>
                <!--app-carousel-navbar></app-carousel-navbar-->
              </div>
              
</header>


