.img-redonda{
    width: 400px;
    height: 400px;
    border-radius: 200px !important;
}

.tm-zindex-0 {
    z-index: unset;
}

.tm-zindex-0, .tm-zindex-1, .tm-zindex-2 {
    position: relative;
}
.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}

.vc_column_container>.vc_column-inner {
    position: relative;
}

.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.vc_custom_1557816374555 {
    padding-left: 52px !important;
}

.vc_column_container>.vc_column-inner {
    position: relative;
}

.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.vc_custom_1557816374555 {
    padding-left: 52px !important;
}
.vc_column-inner::after, .vc_column-inner::before {
    content: " ";
    display: table;
}

.vc_column-inner>.wpb_wrapper {
    position: relative;
}


element.style {
}
.tm-heading-style-vertical .tm-vc_cta3-container {
    margin-bottom: 0;
}
.tm-vc_cta3-container {
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}

.tm-cta3-only.tm-vc_general.tm-vc_cta3.tm-vc_cta3-color-transparent {
    padding: 0;
}

.tm-vc_general.tm-vc_cta3.tm-vc_cta3-color-transparent.tm-cta3-only {
    background-color: transparent;
    border-color: transparent;
}
.tm-element-heading-wrapper .tm-vc_general.tm-vc_cta3 {
    padding: 0;
    border: none;
    background-color: transparent;
}
.tm-vc_general.tm-vc_cta3.tm-vc_cta3-shape-rounded {
    border-radius: 5px;
}
.tm-vc_general.tm-vc_cta3.tm-vc_cta3-style-classic, .tm-vc_general.tm-vc_cta3.tm-vc_cta3-style-custom {
    border-color: #F0F0F0;
    background-color: #f7f7f7;
}
.tm-vc_general.tm-vc_cta3 {
    border: 1px solid transparent;
    font-size: 1em;
    padding: 28px;
    word-wrap: break-word;
}

.tm-element-heading-wrapper.tm-heading-style-vertical.tm-element-align-center .tm-vc_general.tm-vc_cta3.tm-cta3-without-desc .tm-vc_cta3-content, .tm-element-heading-wrapper.tm-heading-style-vertical .tm-vc_general.tm-vc_cta3 .tm-vc_cta3-content {
    margin-bottom: 40px;
}

.tm-vc_general.tm-vc_cta3.tm-vc_cta3-align-left .tm-vc_cta3-content {
    text-align: left;
}
.tm-vc_general.tm-vc_cta3 .tm-vc_cta3-content {
    vertical-align: top;
}

.tm-seperator-solid.tm-heading-style-vertical .tm-vc_general.tm-vc_cta3 .tm-vc_cta3-content-header {
    margin-bottom: 5px;
}

.tm-element-heading-wrapper:not(.tm-seperator-none) .tm-vc_general.tm-vc_cta3 .tm-vc_cta3-content-header {
    position: relative;
}
.site header, .tm-header-block, .site-header, .site-header-main {
    position: relative;
}
.tm-wrap {
    display: table;
    width: 100%;
}

.tm-element-heading-wrapper:not(.tm-heading-style-horizontal) .tm-vc_general.tm-vc_cta3.tm-cta3-with-desc .tm-vc_cta3-headers.tm-wrap-cell {
    margin-bottom: 0;
}

.tm-element-heading-wrapper:not(.tm-heading-style-horizontal) .tm-vc_general.tm-vc_cta3 .tm-vc_cta3-headers.tm-wrap-cell, .tm-element-heading-wrapper:not(.tm-heading-style-horizontal) .tm-vc_general .tm-vc_cta3_content-container .tm-vc_cta3-content .tm-vc_cta3-content-header h2 {
    margin-bottom: 0;
}
.tm-element-heading-wrapper .tm-vc_general.tm-vc_cta3 .tm-vc_cta3-headers.tm-wrap-cell {
    display: block;
}
.tm-wrap-cell {
    display: table-cell;
    vertical-align: middle;
}

.tm-element-heading-wrapper .tm-vc_general .tm-vc_cta3_content-container .tm-vc_cta3-content .tm-vc_cta3-content-header h4.tm-custom-heading:first-child {
    margin-bottom: 14px;
}

.tm-element-heading-wrapper .tm-vc_general .tm-vc_cta3_content-container .tm-vc_cta3-content .tm-vc_cta3-content-header h4, .tm-vc_general.tm-vc_cta3.tm-vc_cta3-color-transparent.tm-cta3-only .tm-vc_cta3-content .tm-vc_cta3-headers h4 {
    font-family: "Lato",Arial,Helvetica,sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 26px;
    color: #9dca00;
}
.tm-vc_general.tm-vc_cta3.tm-vc_cta3-color-transparent.tm-cta3-only .tm-vc_cta3-content .tm-vc_cta3-headers h4 {
    color: #4a4a4a;
}
.tm-seperator-solid .tm-vc_general.tm-vc_cta3 .tm-vc_cta3-content-header h4.tm-custom-heading {
    position: relative;
    padding-left: 33px;
    display: inline-block;
}
.tm-element-heading-wrapper .tm-vc_general .tm-vc_cta3_content-container .tm-vc_cta3-content .tm-vc_cta3-content-header h4 {
    margin-bottom: 2px;
}
.tm-vc_general.tm-vc_cta3.tm-vc_cta3-style-3d .tm-vc_cta3-content-header h2, .tm-vc_general.tm-vc_cta3.tm-vc_cta3-style-3d .tm-vc_cta3-content-header h4, .tm-vc_general.tm-vc_cta3.tm-vc_cta3-style-classic:not(.tm-vc_cta3-color-classic) .tm-vc_cta3-content-header h2, .tm-vc_general.tm-vc_cta3.tm-vc_cta3-style-classic:not(.tm-vc_cta3-color-classic) .tm-vc_cta3-content-header h4, .tm-vc_general.tm-vc_cta3.tm-vc_cta3-style-flat .tm-vc_cta3-content-header h2, .tm-vc_general.tm-vc_cta3.tm-vc_cta3-style-flat .tm-vc_cta3-content-header h4, .tm-vc_general.tm-vc_cta3.tm-vc_cta3-style-outline:not(.tm-vc_cta3-color-classic) .tm-vc_cta3-content-header h2, .tm-vc_general.tm-vc_cta3.tm-vc_cta3-style-outline:not(.tm-vc_cta3-color-classic) .tm-vc_cta3-content-header h4 {
    color: inherit;
}
.tm-cta3-only.tm-vc_general.tm-vc_cta3 h4 {
    margin-top: 5px;
    font-size: 28px;
    line-height: 32px;
    font-weight: 400;
}
.tm-vc_general.tm-vc_cta3 h2, .tm-vc_general.tm-vc_cta3 h4 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}



.tm-seperator-solid.tm-element-align-center .tm-vc_general.tm-vc_cta3 .tm-vc_cta3-content-header h4.tm-custom-heading:before, .tm-seperator-solid .tm-vc_general.tm-vc_cta3 .tm-vc_cta3-content-header h4.tm-custom-heading:after {
    display: block;
    content: "";
    position: absolute;
    background-color: #20292f;
    width: 25px;
    top: 50%;
    height: 1px;
    left: 0;
}

ul.tabs li a:before,  ul.tabs li a, .post.themetechmount-box-blog-classic .tm-box-post-date, .tooltip:after, [data-tooltip]:after, .tm-skincolor-utext u:after, .tm-header-icons .tm-header-icon a:hover, .single-tm_team_member .tm-team-social-links-wrapper ul li a, .tm-custom-heading.tm-diet-heading, .wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab.vc_active>a, .wpb-js-composer .vc_tta.vc_general.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab.vc_active>a:after, .tm-feature-plans .tm-static-box-content, .tm-ptablebox-featured-col .tm-ptablebox-title, .tm-sbox.tm-sbox-iconalign-left-spacing.tm-sbox-istyle-rounded:hover .tm-vc_icon_element.tm-vc_icon_element-outer .tm-vc_icon_element-inner.tm-vc_icon_element-background, .tm-processbox-wrapper .tm-processbox .process-num, .tm-seperator-solid .tm-vc_general.tm-vc_cta3 .tm-vc_cta3-content-header h4.tm-custom-heading:after, .tm-seperator-solid.tm-element-align-center .tm-vc_general.tm-vc_cta3 .tm-vc_cta3-content-header h4.tm-custom-heading:before, .themetechmount-service-box-view-top-image .tm-service-icon, .themetechmount-service-box-view-top-image .themetechmount-serviceboxbox-readmore a:after, .themetechmount-box-blog .themetechmount-blogbox-footer-readmore a:after, .tm-sbox .tm-vc_general.tm-vc_cta3 a.tm-vc_general.tm-vc_btn3:hover:after, .tm-vc_btn3.tm-vc_btn3-style-text.tm-vc_btn3-size-md:hover:after, .tm-header-social-box div.tm-icon-wrapper ul li a:hover, .post.themetechmount-box-blog-classic .themetechmount-blogbox-footer-readmore a:hover:after, .tm-sbox.ttm-service-box-separator .tm-vc_cta3-container>.tm-vc_general:after, .wpb_row.tm-process-style2 .vc_column_container>.vc_column-inner:after, .themetechmount-ptables-w .ttm-pricetable-column-w.tm-ptablebox-featured-col .tm-vc_btn3.tm-vc_btn3-color-black, .themetechmount-box-team .themetechmount-box-social-links ul li a:hover, .themetechmount-box-portfolio.themetechmount-box-view-top-image:hover .themetechmount-box-bottom-content, .themetechmount-box-portfolio .themetechmount-icon-box a, .tm_prettyphoto.tm-vc_icon_element .tm-vc_icon_element-inner.tm-vc_icon_element-background-color-skincolor:before, .tm_prettyphoto.tm-vc_icon_element .tm-vc_icon_element-inner.tm-vc_icon_element-background-color-skincolor:after, .tm-processbox-wrapper .tm-processbox:hover .process-num, .entry-title-wrapper .entry-title:before, .post.themetechmount-box-blog-classic .tm-box-post-icon, .themetechmount-box-blog .tm-box-post-date, .themetechmount-teambox-view-overlay .themetechmount-overlay a, .themetechmount-box-team.themetechmount-box-view-topimage-bottomcontent .themetechmount-overlay a, .themetechmount-fbar-position-right .themetechmount-fbar-btn a.skincolor, .themetechmount-fbar-position-default .themetechmount-fbar-btn a.skincolor, .themetechmount-portfolio-box-view-top-image:hover .themetechmount-box-link, .widget .tm_info_widget, .widget_subscribe_form input[type="submit"], .ttm-pricetable-column-w.tm-ptablebox-featured-col .tm-ptablebox .tm-sbox-icon-wrapper, .comment-list a.comment-reply-link, .sidebar .widget_categories li span, .sidebar .widget_product_categories li span, .themetechmount-box-blog .tm-box-post-date, .tribe-events-list-separator-month span, #tribe-events-content .tribe-events-read-more:hover, .tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-event-cost .ticket-cost, #tribe-events-content.tribe-events-single .tribe-events-back a:hover, #tribe-events-content #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next a:hover, #tribe-events-content #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous a:hover, #tribe-events-content #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-left a:hover, #tribe-events-content #tribe-events-header .tribe-events-sub-nav .tribe-events-nav-right a:hover, .tm-vc_btn3.tm-vc_btn3-color-black.tm-vc_btn3-style-flat:focus, .tm-vc_btn3.tm-vc_btn3-color-black.tm-vc_btn3-style-flat:hover, .tm-vc_btn3.tm-vc_btn3-color-black:focus, .tm-vc_btn3.tm-vc_btn3-color-black:hover, .tm-header-icons .tm-header-wc-cart-link span.number-cart, .themetechmount-events-box-view-top-image-details .themetechmount-post-readmore a:hover, .themetechmount-box-events .themetechmount-meta-date, .tm-col-bgcolor-darkgrey .social-icons li > a:hover, .themetechmount-topbar-wrapper .themetechmount-fbar-btn, .tm-skincolor-bg, .footer .widget .widget-title:before, .tm-bg-highlight, .tm-bgcolor-darkgrey .themetechmount-boxes-testimonial.themetechmount-boxes-col-one .themetechmount-box-view-default .themetechmount-box-desc:after, .tm-row .tm-col-bgcolor-darkgrey .themetechmount-boxes-testimonial.themetechmount-boxes-col-one .themetechmount-box-view-default .themetechmount-box-desc:after, .themetechmount-boxes-testimonial.themetechmount-boxes-col-one .themetechmount-box-view-default .themetechmount-box-desc:after, .wpcf7 .tm-contactform input[type="radio"]:checked:before, .tm-dropcap.tm-bgcolor-skincolor, .newsletter-form input[type="submit"], .themetechmount-twitterbox-inner i, .footer .widget_recent_comments li.recentcomments:before, .footer .widget_recent_entries a:before, .footer .widget_meta a:before, .footer .widget_categories a:before, .footer .widget_archive li a:before, .footer .widget_pages li a:before, .footer .widget_nav_menu li a:before, .footer .widget_product_categories a:before, .tm-titlebar-wrapper.tm-breadcrumb-on-bottom.tm-breadcrumb-bgcolor-skincolor .tm-titlebar .breadcrumb-wrapper .container, .tm-titlebar-wrapper.tm-breadcrumb-on-bottom.tm-breadcrumb-bgcolor-skincolor .breadcrumb-wrapper .container:before, .tm-titlebar-wrapper.tm-breadcrumb-on-bottom.tm-breadcrumb-bgcolor-skincolor .breadcrumb-wrapper .container:after {
    background-color: #9dca00 ;
}

.tm-vc_general.tm-vc_cta3.tm-vc_cta3-color-transparent.tm-cta3-only .tm-vc_cta3-content .tm-vc_cta3-headers h2 {
    position: relative;
    display: block;
}

.tm-element-heading-wrapper:not(.tm-heading-style-horizontal) .tm-vc_general.tm-vc_cta3 .tm-vc_cta3-headers.tm-wrap-cell, .tm-element-heading-wrapper:not(.tm-heading-style-horizontal) .tm-vc_general .tm-vc_cta3_content-container .tm-vc_cta3-content .tm-vc_cta3-content-header h2 {
    margin-bottom: 0;
}
.tm-element-heading-wrapper .tm-vc_general .tm-vc_cta3_content-container .tm-vc_cta3-content .tm-vc_cta3-content-header h2 {
    font-family: "Prata",Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 38px;
    line-height: 50px;
    color: #2b343b;
}
.tm-vc_general.tm-vc_cta3.tm-vc_cta3-style-3d .tm-vc_cta3-content-header h2, .tm-vc_general.tm-vc_cta3.tm-vc_cta3-style-3d .tm-vc_cta3-content-header h4, .tm-vc_general.tm-vc_cta3.tm-vc_cta3-style-classic:not(.tm-vc_cta3-color-classic) .tm-vc_cta3-content-header h2, .tm-vc_general.tm-vc_cta3.tm-vc_cta3-style-classic:not(.tm-vc_cta3-color-classic) .tm-vc_cta3-content-header h4, .tm-vc_general.tm-vc_cta3.tm-vc_cta3-style-flat .tm-vc_cta3-content-header h2, .tm-vc_general.tm-vc_cta3.tm-vc_cta3-style-flat .tm-vc_cta3-content-header h4, .tm-vc_general.tm-vc_cta3.tm-vc_cta3-style-outline:not(.tm-vc_cta3-color-classic) .tm-vc_cta3-content-header h2, .tm-vc_general.tm-vc_cta3.tm-vc_cta3-style-outline:not(.tm-vc_cta3-color-classic) .tm-vc_cta3-content-header h4 {
    color: inherit;
}
.tm-cta3-only.tm-vc_general.tm-vc_cta3 h2 {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 0;
}
.tm-vc_general.tm-vc_cta3 h2, .tm-vc_general.tm-vc_cta3 h4 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}


.tm-element-heading-wrapper.tm-heading-style-vertical .tm-vc_general.tm-vc_cta3.tm-vc_cta3-align-center .tm-vc_cta3-content .tm-cta3-content-wrapper, .tm-element-heading-wrapper .tm-cta3-only.tm-vc_general.tm-vc_cta3 .tm-cta3-content-wrapper {
    margin-top: 14px;
}

.tm-cta3-only.tm-vc_general.tm-vc_cta3 .tm-cta3-content-wrapper {
    margin-top: 0;
}
.tm-vc_general.tm-vc_cta3 .tm-vc_cta3-content>:last-child, .tm-vc_general.tm-vc_cta3 .tm-vc_cta3-icons>:last-child {
    margin-bottom: 0;
}


.tm-element-heading-wrapper .tm-vc_general.tm-vc_cta3 .tm-vc_cta3-content p {
    font-family: "Lato",Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #86898c;
}


element.style {
    text-align: left;
    font-size: 20px;
    line-height: 30px;
}
.vc_custom_1554724901691 {
    margin-top: -8px !important;
    margin-bottom: 0px !important;
}

.tm-zindex-0, .tm-zindex-1, .tm-zindex-2 {
    position: relative;
}

.vc_row {
    margin-left: -15px;
    margin-right: -15px;
}

.tm-zindex-0 {
    z-index: unset;
}

.tm-zindex-0, .tm-zindex-1, .tm-zindex-2 {
    position: relative;
}
.vc_custom_1554724821611 {
    padding-top: 16px !important;
}
.vc_row {
    margin-left: -15px;
    margin-right: -15px;
}

.tm-zindex-0 {
    z-index: unset;
}

.tm-zindex-0, .tm-zindex-1, .tm-zindex-2 {
    position: relative;
}
.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}


.tm-zindex-0 {
    z-index: unset;
}

.tm-zindex-0, .tm-zindex-1, .tm-zindex-2 {
    position: relative;
}
.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}

.vc_column_container>.vc_column-inner {
    position: relative;
}

.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.vc_column-inner>.wpb_wrapper {
    position: relative;
}



.tm-list.tm-list-style-icon {
    list-style: none;
    padding: 0;
    padding-left: 0;
}

.tm-list.tm-list-style-icon li {
    position: relative;
    padding-bottom: 10px;
}

.tm-list.tm-list-style-icon li i {
    position: absolute;
    left: 0;
    top: 5px;
}

.tm-video-iconbox .vc_column_container, .tm-column-inline .vc_column_container {
    width: auto;
    max-width: max-content;
    float: left;
}

.tm-zindex-0 {
    z-index: unset;
}
.tm-zindex-0, .tm-zindex-1, .tm-zindex-2 {
    position: relative;
}
.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}

.vc_column_container>.vc_column-inner {
    position: relative;
}

.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.vc_column-inner>.wpb_wrapper {
    position: relative;
}


.tm-vc_btn3-container.tm-vc_btn3-inline {
    display: inline-block;
    vertical-align: top;
}

.tm-vc_btn3-container {
    display: block;
    margin-bottom: 21.74px;
    max-width: 100%;
}
.vc_custom_1557815861367 {
    padding-right: 16px !important;
}

.tm-vc_btn3.tm-vc_btn3-color-black.tm-vc_btn3-style-outline {
    color: #2b343b;
}
.tm-vc_btn3.tm-vc_btn3-color-black.tm-vc_btn3-style-outline {
    border-color: #2b343b;
    background-color: transparent;
}
.tm-vc_btn3.tm-vc_btn3-size-md {
    font-size: 16px;
}
.tm-vc_btn3.tm-vc_btn3-color-black, .tm-vc_btn3.tm-vc_btn3-color-black.tm-vc_btn3-style-flat {
    color: #fff;
    background-color: #2b343b;
}
.tm-vc_btn3.tm-vc_btn3-size-md {
    font-size: 14px;
    padding: 10px 38px 12px 38px;
}
.tm-vc_btn3.tm-vc_btn3-shape-round {
    border-radius: 2em;
}
.tm-vc_btn3.tm-vc_btn3-style-outline, .tm-vc_btn3.tm-vc_btn3-style-outline-custom, .tm-vc_btn3.tm-vc_btn3-style-outline-custom:focus, .tm-vc_btn3.tm-vc_btn3-style-outline-custom:hover, .tm-vc_btn3.tm-vc_btn3-style-outline:focus, .tm-vc_btn3.tm-vc_btn3-style-outline:hover {
    border-width: 1px;
}
.tm-vc_general.tm-vc_btn3 {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    background-color: transparent;
    color: #5472D2;
    border: 1px solid transparent;
    box-sizing: border-box;
    word-wrap: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    top: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    line-height: normal;
    font-size: 14px;
    padding: 14px 20px;
}

.tm-dcap-color-skincolor, .themetechmount-boxes-row-wrapper .slick-arrow:not(.slick-disabled):hover, .tm-author-social-links li a:hover, .vc_progress_bar.vc_progress-bar-color-skincolor .vc_single_bar .vc_bar, .vc_progress_bar .vc_general.vc_single_bar.vc_progress-bar-color-skincolor .vc_bar, .vc_progress_bar .vc_general.vc_single_bar.vc_progress-bar-color-skincolor span.tm-vc_label_units.vc_label_units, span.tm-vc_label_units.vc_label_units, .sidebar h3.widget-title:before, .widget .widget-title:after, .footer .widget .widget-title:after, .woocommerce-account .woocommerce-MyAccount-navigation li a:before, .widget.tm_widget_nav_menu li a:before, .widget.nutrico_all_post_list_widget li a:before, .widget.nutrico_category_list_widget li a:before, input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, .tm-col-bgcolor-darkgrey .wpcf7 .tm-bookappointmentform input[type="submit"]:hover, .tm-row-bgcolor-darkgrey .wpcf7 .tm-bookappointmentform input[type="submit"]:hover, .themetechmount-box-view-default .themetechmount-box-author .themetechmount-box-img .themetechmount-icon-box, .tm-cta3-only.tm-vc_general.tm-vc_cta3.tm-vc_cta3-color-skincolor.tm-vc_cta3-style-3d, .tm-vc_btn3.tm-vc_btn3-color-skincolor.tm-vc_btn3-style-3d:focus, .tm-vc_btn3.tm-vc_btn3-color-skincolor.tm-vc_btn3-style-3d:hover, .tm-vc_general.tm-vc_btn3.tm-vc_btn3-color-skincolor.tm-vc_btn3-style-outline:hover, .tm-vc_icon_element.tm-vc_icon_element-outer .tm-vc_icon_element-inner.tm-vc_icon_element-background-color-skincolor.tm-vc_icon_element-background, .tm-vc_general.tm-vc_btn3.tm-vc_btn3-color-skincolor, .single-tm_portfolio .nav-next a, .single-tm_portfolio .nav-previous a, .tm-vc_general.tm-vc_btn3.tm-vc_btn3-style-3d.tm-vc_btn3-color-inverse:hover, .tm-bgcolor-skincolor, .tm-header-overlay .site-header.tm-sticky-bgcolor-skincolor.is_stuck, .site-header-menu.tm-sticky-bgcolor-skincolor.is_stuck, .tm-header-style-infostack .site-header .tm-stickable-header.is_stuck.tm-sticky-bgcolor-skincolor, .is_stuck.tm-sticky-bgcolor-skincolor, .tm-header-style-infostack .site-header-menu .tm-stickable-header.is_stuck .tm-sticky-bgcolor-skincolor, .themetechmount-box-view-overlay .themetechmount-boxes .themetechmount-box-content.themetechmount-overlay .themetechmount-icon-box a:hover, .themetechmount-post-box-icon-wrapper, .tm-post-format-icon-wrapper, .themetechmount-pagination .page-numbers.current, .themetechmount-pagination .page-numbers:hover, .tm-sresults-title small a, .tm-sresult-form-wrapper, .main-holder .rpt_style_basic .rpt_recommended_plan .rpt_title, .main-holder .rpt_4_plans.rpt_style_basic .rpt_plan.rpt_recommended_plan, #bbpress-forums button, #bbp_search_submit, #bbpress-forums ul li.bbp-header, .themetechmount-box-blog-classic .entry-title:before, .tm-square-social-icon .themetechmount-social-links-wrapper .social-icons li a:hover, .inside.tm-fid-view-topicon h3:after, .woocommerce-account .woocommerce-MyAccount-navigation li a:hover, .widget.tm_widget_nav_menu li a:hover, .widget.nutrico_all_post_list_widget li a:hover, .widget.nutrico_category_list_widget li a:hover, .woocommerce-account .woocommerce-MyAccount-navigation li.is-active a, .widget.tm_widget_nav_menu li.current_page_item a:before, .widget.nutrico_all_post_list_widget li.tm-post-active a, .widget.nutrico_category_list_widget li.current-cat a, .themetechmount-box-blog.themetechmount-box-blog-classic .themetechmount-post-date-wrapper, .entry-content .page-links>span:not(.page-links-title), .entry-content .page-links a:hover, mark, ins {
    background-color: #9dca00;
}
.icon-color{
    color:#a1cc0b;
}

.mat-tab-label-active{
    background-color: #a1cc0b ;
    opacity: 1 !important;
  }

.fas{
    font-size: 25px;
    margin-right: 10px;
}

.form-selection{
    margin-top: 30px;
}

h4 {
    color: #a1cc0b !important;
}