<section>
<div class="vc_row wpb_row vc_row-fluid">
    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-2 vc_col-lg-8">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <h2 style="font-size: 13px;color: #39bcdd;line-height: 26px;text-align: center;letter-spacing: 5px" class="vc_custom_heading">PROFESSIONAL FITNESS CLUB</h2>
                <h2 style="font-size: 34px;color: #333333;line-height: 42px;text-align: center;letter-spacing: 1px" class="vc_custom_heading">Servicios que Ofrecemos</h2>
                
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <p style="text-align: center;"><em>En nuestro centro especializado encontrara las opciones a su medida&nbsp;</em>
                            <br class="hidden-xs"><em>con los mejores precios y la mejor calidad y atencion del mercado </em>
                        </p>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>

<div class="container" style="margin-bottom: 50px;">
        <div class="card">
            <div class="face face1" style="height: 238px;">
                <div class="content">
                    <img src="../../../../assets/images/services/dance.jpg">
                    <h3>Nutrition</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        <a href="#">VIEW PROGRAM</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1" style="height: 238px;">
                <div class="content">
                    <img src="../../../../assets/images/services/dance.jpg">
                    <h3>Fitness</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        <a (click)="openDialog()">VIEW PROGRAM</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1" style="height: 238px;">
                <div class="content">
                    <img src="../../../../assets/images/services/dance.jpg">
                    <h3>Dance</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        <a href="#">VIEW PROGRAM</a>
                </div>
            </div>
        </div>
</div>
</section>