.font_2 {
  font: italic normal bold 45px/1.4em dinneuzeitgroteskltw01-_812426,sans-serif;
  color: #414141;
  text-align: center;
  margin-left: 275px;
}

.sidebar-title{
  font-size: 22px!important;
  word-break: break-word;
  padding: 2%;
}

.sidebar-title p {
  font-size: 15px;
}
