.font_2 {
  font: italic normal bold 90px/1.4em dinneuzeitgroteskltw01-_812426,sans-serif;
  color: #414141;
  text-align: center;
}

.sidebar-title{
  font-size: 22px!important;
  word-break: break-word;
}
