
<div class="container">
    <div style="height: 120px;">
        <div class="col-9">
            <h2 class="font_2">PRIVATE TRAINING</h2>
            <a style="color: #9966FF;" [routerLink]="['./']"  ><i class="fas fa-chevron-left" style="padding: 2%; color: #9966FF;"></i>Back </a>
        </div>
        <div class="col-2 sidebar-title" style="border: 1px solid #dee2e6;
        position: relative;
        top: 12px;
        height: 390px;
        margin-left: 80px;
        left: 955px;
        border-radius: 1.15rem;">
            <h2 class="" style="font-size: 1rem;">TRAINING SESSION</h2>
            <div style="border-bottom: 2px solid #A5D2FF!important;">
              <p>1hr | 20usd</p>
            </div>
            <div>
                <p>Ofiice New Ypoirk 12345
                    +5632589</p>
                <p>{{fromDate}}</p>
                <p> {{toDate}}</p>
                <p>{{hourSelected}}</p>
            </div>

            <div>
              <button (click)="navigateUrl()">Next</button>
            </div>

        </div>

    </div>
    <router-outlet></router-outlet>
</div>
