

<ng-container *ngTemplateOutlet="userNeedToRegister ? register : login"></ng-container>


<ng-template #login>
    <div class="container">
      <div class="form sign-in">
          <div class="container" style="width: 500px;">
              <div class="row">
                <div class="col-md-10 mx-auto">
                  <div class="card mx-8" style="border: none;">
                    <div class="card-body p-4">
                      <form [formGroup]="userSingInForm" (ngSubmit)="loginWitEmailAndUserPassword(userSingInForm)" novalidate>
                          <h2 style="color: rgb(0, 130, 202) !important;">Sign In</h2>

                          <div class="row input-group mb-3" *ngIf="authError" >
                            <div class="col-12 alert alert-danger">{{authError?.message}}</div>
                        </div>

                        <div class="input-group mb-3">
                          <input type="email" class="left-alig" placeholder="User Email"  formControlName="userEmail">
                        </div>
                        <div class="input-group mb-3">
                          <input type="password" class="left-alig" placeholder="User Password"  formControlName="userPassword">
                        </div>
                        <button type="submit" [disabled]="userSingInForm.invalid"  [ngClass]="{'disabled-btn': userSingInForm.invalid}" class="submit">Sign In</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        <p class="forgot-pass">Forgot password?</p>

        <div class="information-login">
            <div style="width: 190px;position: relative;
            left: 28%;">
                <p >Not a member?
                    <a (click)="userWantToRegister()" style="cursor: pointer;color: #0082ca;margin-left: 10px;">Register</a>
                  </p>
            </div>
            <div style="margin-top: 5px;width: 190px;position: relative;
            left: 28%;">
                <p class="icons-sing-in">or sign in with:
                  </p>
            </div>
            <div style="display: flex;
            justify-content: center;
            width: 114px;
            padding: 1%;position: relative;
        left: 28%;">
                <a style="margin-right: 16px;
                margin-left: 20px;" (click)="loginWithFacebook()" ><i class="fab fa-facebook-f" style="color: rgb(3, 169, 244);"></i></a>
                <a (click)="loginWithGoogle()"><i class="fab fa-google" style="color: rgb(3, 169, 244);"></i></a>

            </div>
        </div>
      </div>
    </div>
</ng-template>

<ng-template #register>
    <div class="container" style="padding:40px; width: 600px;">
        <div class="row">
          <div class="col-md-10 mx-auto">
            <div class="card mx-8" style="border: none;">
              <div class="card-body p-4">
                <form [formGroup]="userRegisteringForm" (ngSubmit)="createUser(userRegisteringForm.value)" novalidate>
                  <h1  style="text-align:center;margin-bottom: 30px;">Register</h1>

                  <div class="row input-group mb-3" *ngIf="authError" >
                      <div class="col-12 alert alert-danger">{{authError?.message}}</div>
                  </div>

                  <div class="input-group mb-3">
                    <input type="text" class="left-alig" placeholder="Client Full Name"  formControlName="clientName">
                  </div>
                  <div class="input-group mb-3">
                    <input type="text" class="left-alig" placeholder="Client User Name"  formControlName="clientUser">
                  </div>
                  <div class="input-group mb-3">
                    <input type="password" class="left-alig" placeholder="Client Password"  formControlName="clientPassword">
                  </div>
                  <div class="input-group mb-3">
                    <input type="password" class="left-alig" placeholder="Repit Password"  formControlName="clientPassword2">
                  </div>
                  <div class="input-group mb-3">
                      <input type="text" class="left-alig" placeholder="Client Email"  formControlName="clientEmail">
                  </div>
                  <div class="input-group mb-3">
                    <input type="text" class="left-alig" placeholder="Client Phone Number"  formControlName="clientPhoneNumber">
                  </div>
                  <div class="input-group mb-3">
                    <input type="text" class="left-alig" placeholder="Address"  formControlName="clientAdress">
                  </div>

                  <button type="submit" class="btn btn-block btn-success" style="background-color: #28a745;">Add User</button>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>

</ng-template>
