/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap');
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 

:root{
    --light-gray:#2b3032a1;
    --primary-color:#45ccb8;
    --border:#2b303218;
    --text-color:#ff686b;
    --roboto:"Roboto", sans-serif;
    --gugi:"Gugi", cursive;
    --sofia:"Sofia", cursive;
    --color-header:"rgba(255,175,75,1)";
    --navbar-item-color:#20303C;
    --navbar-icon-color:#20303C;
    --navbar-bg-color:#EEFF42;
    //#D1E7FD
}

.primary-color{
    color:var(--primary-color);
}

.bg-primary-color{
    background-color: var(--primary-color) !important;
    
}

.text-color{
    color: var(--text-color);
}

.font-roboto{
    font-family: var(--roboto);
}

.lightblue{
    color: lightblue;
}


header{
    
   
    font-family: var(--roboto);
    
}
.bg-header-color{
    background: #f98c00;
}
.bg-color{
	background: #39bcdd !important;
   
}
header .site-title{
    font-family: var(--gugi);
}

.container{
    max-width: 1400px;
}

.fixed-top{
    top:78px;
    right: 68px;
    left: 68px;
}
.container .dropdown-toggle,
.container .dropdown-item{
    font-size: 0.7em;
}

.header-links a{
    font-size: 0.9rem;
    text-decoration: none;
    color: white;
}

/*Navigation Menu*/
.navbar-nav{
   // padding: 0.8em 0em;

}

.navbar-nav .nav-link{
    font-size: 0.9em;
    color: var(--navbar-item-color) !important;
}

nav .fab{
    color: var(--navbar-icon-color) !important;
}

.navbar-nav .nav-item .nav-link{
    padding: 0 1.3em;
}

.navbar-nav .basket-icon{
    margin-right: 6.5rem !important;
}

.nav-bar-bg-color{
    background: rgba(255,175,75,1);
background: -moz-linear-gradient(left, rgba(255,175,75,1) 10%, rgba(255,150,19,1) 51%, rgba(255,146,10,1) 58%, rgba(255,146,10,1) 87%);
background: -webkit-gradient(left top, right top, color-stop(10%, rgba(255,175,75,1)), color-stop(51%, rgba(255,150,19,1)), color-stop(58%, rgba(255,146,10,1)), color-stop(87%, rgba(255,146,10,1)));
background: -webkit-linear-gradient(left, rgba(255,175,75,1) 10%, rgba(255,150,19,1) 51%, rgba(255,146,10,1) 58%, rgba(255,146,10,1) 87%);
background: -o-linear-gradient(left, rgba(255,175,75,1) 10%, rgba(255,150,19,1) 51%, rgba(255,146,10,1) 58%, rgba(255,146,10,1) 87%);
background: -ms-linear-gradient(left, rgba(255,175,75,1) 10%, rgba(255,150,19,1) 51%, rgba(255,146,10,1) 58%, rgba(255,146,10,1) 87%);
background: linear-gradient(to right, rgba(255,175,75,1) 10%, rgba(255,150,19,1) 51%, rgba(255,146,10,1) 58%, rgba(255,146,10,1) 87%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
    font-family: var(--roboto);
}

.mat-dialog-container{
    padding: 0px !important;
}

.full-width-dialog .mat-dialog-container {
    max-width: 150vw !important;
  }

ng::deep input .ng-touched.ng-invalid{
 border-color:#dc3545;
}


input .ng-valid{
    border-color:#28a745;
   }