/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap');
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

:root{
    --light-gray:#2b3032a1;
    --primary-color:#45ccb8;
    --border:#2b303218;
    --text-color:#ff686b;
    --roboto:"Roboto", sans-serif;
    --gugi:"Gugi", cursive;
    --sofia:"Sofia", cursive;
    --color-header:"rgba(255,175,75,1)";
    --navbar-item-color:#20303C;
    --navbar-icon-color:#20303C;
    --navbar-bg-color:#EEFF42;
    //#D1E7FD
}

.primary-color{
    color:var(--primary-color);
}

.bg-primary-color{
    background-color: var(--primary-color) !important;

}

.text-color{
    color: var(--text-color);
}

.font-roboto{
    font-family: var(--roboto);
}

.lightblue{
    color: lightblue;
}


header{


    font-family: var(--roboto);

}
.bg-header-color{
    background: #f98c00;
}
.bg-color{
	background: #39bcdd !important;

}
header .site-title{
    font-family: var(--gugi);
}

.container{
    max-width: 1400px;
}

.fixed-top{
    top:78px;
    right: 68px;
    left: 68px;
}
.container .dropdown-toggle,
.container .dropdown-item{
    font-size: 0.7em;
}

.header-links a{
    font-size: 0.9rem;
    text-decoration: none;
    color: white;
}

/*Navigation Menu*/
.navbar-nav{
   // padding: 0.8em 0em;

}

.navbar-nav .nav-link{
    font-size: 0.9em;
    color: var(--navbar-item-color) !important;
}

nav .fab{
    color: var(--navbar-icon-color) !important;
}

.navbar-nav .nav-item .nav-link{
    padding: 0 1.3em;
}

.navbar-nav .basket-icon{
    margin-right: 6.5rem !important;
}

.nav-bar-bg-color{
    background: rgba(255,175,75,1);
background: -moz-linear-gradient(left, rgba(255,175,75,1) 10%, rgba(255,150,19,1) 51%, rgba(255,146,10,1) 58%, rgba(255,146,10,1) 87%);
background: -webkit-gradient(left top, right top, color-stop(10%, rgba(255,175,75,1)), color-stop(51%, rgba(255,150,19,1)), color-stop(58%, rgba(255,146,10,1)), color-stop(87%, rgba(255,146,10,1)));
background: -webkit-linear-gradient(left, rgba(255,175,75,1) 10%, rgba(255,150,19,1) 51%, rgba(255,146,10,1) 58%, rgba(255,146,10,1) 87%);
background: -o-linear-gradient(left, rgba(255,175,75,1) 10%, rgba(255,150,19,1) 51%, rgba(255,146,10,1) 58%, rgba(255,146,10,1) 87%);
background: -ms-linear-gradient(left, rgba(255,175,75,1) 10%, rgba(255,150,19,1) 51%, rgba(255,146,10,1) 58%, rgba(255,146,10,1) 87%);
background: linear-gradient(to right, rgba(255,175,75,1) 10%, rgba(255,150,19,1) 51%, rgba(255,146,10,1) 58%, rgba(255,146,10,1) 87%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=1 );
    font-family: var(--roboto);
}

.mat-dialog-container{
    padding: 0px !important;
}

.full-width-dialog .mat-dialog-container {
    max-width: 150vw !important;
  }

ng::deep input .ng-touched.ng-invalid{
 border-color:#dc3545;
}


input .ng-valid{
    border-color:#28a745;
   }

ng-deep .mat-select-panel-wrap{
  width: 110px !important;
}



/*Spinner section*/

#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader {
  bottom: 0;
  height: 175px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
}

#loader .dot {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 87.5px;
}

#loader .dot::before {
  border-radius: 100%;
  content: "";
  height: 87.5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  width: 87.5px;
}

#loader .dot:nth-child(7n+1) {
  transform: rotate(45deg);
}

#loader .dot:nth-child(7n+1)::before {
  animation: 0.8s linear 0.1s normal none infinite running load;
  background: #007bff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+2) {
  transform: rotate(90deg);
}

#loader .dot:nth-child(7n+2)::before {
  animation: 0.8s linear 0.2s normal none infinite running load;
  background: #EEFF42 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+3) {
  transform: rotate(135deg);
}

#loader .dot:nth-child(7n+3)::before {
  animation: 0.8s linear 0.3s normal none infinite running load;
  background: #00aaff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+4) {
  transform: rotate(180deg);
}

#loader .dot:nth-child(7n+4)::before {
  animation: 0.8s linear 0.4s normal none infinite running load;
  background: #0040ff none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+5) {
  transform: rotate(225deg);
}

#loader .dot:nth-child(7n+5)::before {
  animation: 0.8s linear 0.5s normal none infinite running load;
  background: #EEFF42 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+6) {
  transform: rotate(270deg);
}

#loader .dot:nth-child(7n+6)::before {
  animation: 0.8s linear 0.6s normal none infinite running load;
  background: #ff9711 none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+7) {
  transform: rotate(315deg);
}

#loader .dot:nth-child(7n+7)::before {
  animation: 0.8s linear 0.7s normal none infinite running load;
  background: magenta none repeat scroll 0 0;
}

#loader .dot:nth-child(7n+8) {
  transform: rotate(360deg);
}

#loader .dot:nth-child(7n+8)::before {
  animation: 0.8s linear 0.8s normal none infinite running load;
  background: #ff0095 none repeat scroll 0 0;
}

#loader .loading {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: -40px;
  height: 20px;
  left: 0;
  position: absolute;
  right: 0;
  width: 180px;
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes load {
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.spinner-message {
  text-align: center;
}
